<div *ngIf="Small; then small_menu else big_menu"></div>
<ng-template #big_menu>
<mat-toolbar color="primary" class="mat-elevation-z7">
    <mat-toolbar-row>

        <span><h2 class="example-h2">{{title}}</h2></span>
        <span class="example-spacer"></span>


        <span class="nav-bottom"><button mat-button (click)="MainPageLink()" [ngClass]="{activeLink:toogleClass[0].indicate}">
            <span>Home </span>
            <mat-icon svgIcon="home-passive" *ngIf="end_navigation!=='/'; else main"></mat-icon>
             <ng-template #main>
                <mat-icon svgIcon="home-active"></mat-icon>
            </ng-template>
        </button>
        </span>

        <span class="nav-bottom"><button mat-button (click)="OtherRouterLink()" [ngClass]="{activeLink:toogleClass[1].indicate}">
            <span>Other </span>
            <i class="material-icons md-36 example-icon">bubble_chart</i>
        </button>
        </span>

        <span class="nav-bottom last"><button mat-button (click)="UsersListRouterLink()" [ngClass]="{activeLink:toogleClass[2].indicate}">
            <span>Admin </span>
             <i class="material-icons md-36 example-icon" *ngIf="end_navigation!=='/users-list'; else admin">people_outline</i>
            <ng-template #admin>
                <i class="material-icons md-36 example-icon">people</i>
            </ng-template>
        </button>
        </span>


        <span><span id="logout-text" [ngClass]="{active: activation}">Logout: </span>
            <i class="material-icons md-36 example-icon" id="logout"
               (click)="onLogout()" [ngClass]="{active: activation}">exit_to_app</i></span>
    </mat-toolbar-row>
</mat-toolbar>

<!--<mat-card class="content" id="content">
    <mat-card-content>
        <router-outlet></router-outlet>-->
      <!--  <re-captcha (resolved)="resolved($event)"></re-captcha> -->
  <!--  </mat-card-content>
</mat-card> -->
</ng-template>




<ng-template #small_menu>
    <mat-toolbar color="primary" class="mat-elevation-z7">
        <mat-toolbar-row>
            <span [style.top]="topp1==true?'-10px':'0px'"
                  style="margin-right: 0px; position: relative; top: -10px">
                <h2 class="example-h2">{{title}}</h2></span>
            <span class="example-spacer"></span>
            <span [style.top]="topp1==true?'-10px':'0px'"
                  style="margin-right: 0px; position: relative; font-size: small; top: -10px">Navigate Menu</span>
    <button mat-button [matMenuTriggerFor]="pages" [style.top]="topp==true?'-10px':'0px'"
            style="margin-right: 0px; position: relative; top: -10px">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </button>

    <mat-menu #pages="matMenu" color="primary" class="activeLink mainLink" [overlapTrigger]="false">
        <button mat-menu-item class="activeLink2" (click)="MainPageLink()">
            <mat-icon class="menu-bot" svgIcon="home-passive" *ngIf="end_navigation!=='/'; else main"></mat-icon>
             <ng-template #main>
                <mat-icon class="menu-bot" svgIcon="home-active"></mat-icon>
            </ng-template>
                 <span> Home </span>
        </button>

        <button mat-menu-item class="activeLink2" (click)="OtherRouterLink()">
            <mat-icon class="menu-bot1">bubble_chart</mat-icon>
            <span> Other </span>
        </button>


        <button mat-menu-item class="activeLink2" (click)="UsersListRouterLink()">
            <mat-icon class="menu-bot1" *ngIf="end_navigation!=='/users-list'; else admin">people_outline</mat-icon>
            <ng-template #admin>
                <mat-icon class="menu-bot1">people</mat-icon>
            </ng-template>
            <span> Admin </span>
        </button>

        <button mat-menu-item class="activeLink2">
            <mat-icon class="menu-bot1" (click)="onLogout()">exit_to_app</mat-icon>
            <span>Logout: </span>
        </button>

    </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

</ng-template>
<mat-card class="content">
    <mat-card-content>
        <router-outlet></router-outlet>
        <!--  <re-captcha (resolved)="resolved($event)"></re-captcha> -->
    </mat-card-content>
</mat-card>